body {
	background-color : #fcfbe3;
	}
	
 p {
	color :  ;
	margin-top: 0px;
	}
	
 img {
    border-radius: 90px;
    box-shadow: 0 7px 14px 1px rgba(0,0,0,.35);
    -webkit-box-shadow: 0 7px 14px 1px rgba(0,0,0,.35);
}

 h1 {
	text-transform : none;
	text-align: center;
	}
	
table { 
border-spacing: 0.5rem;
border-collapse: collapse;
 }